<%- include("../partials/admin-navbar") %> 
<div class="home-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Subject</th>
        <th scope="col">Questions</th>
      </tr>
    </thead>
    <tbody>
      <%  %> 
      <tr>
        <th scope="row">1</th>
        <td>Unanswered</td>
        <td><%= unAnsweredQuestions %> </td>
      </tr>
      <% for(let i  in question_Summary_Array) {%> 
        <tr>
          <th scope="row"><%= 2 + Number(i)%> </th>
          <td><%= question_Summary_Array[i]._id %> </td>
          <td><%= question_Summary_Array[i].count %> </td>
        </tr>
      <% } %> 
      
    </tbody>
  </table>

  
<!-- accordian -->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Create Test
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form action="admin/create-paper">

          <div class="form-group mb-3">
            <label for="date">Test Name</label>
            <input type="text" name="name" id=""placeholder='give a unique name..' class="form-control">
          </div>

          <div class="form-group mb-3">
            <label for="date">Add Test Timing</label>
            <input type="datetime-local" name="time" id=""placeholder='set time and date' class="form-control">
          </div>
          
          <div class="form-group mb-3">
            <label for="date">Add Question Quantity</label>

            <!-- question for paper -->
            <% for(let i  of question_Summary_Array) {%> 
              <div class="input-group mb-2">
                <span class="input-group-text w-50 " id="basic-addon3"><%= i._id  %> (<%= Number(i.count) %>) </span>
                <input type="number" class="form-control" max=<%= Number(i.count) %> id="basic-url" placeholder="" name="<%= i._id %>" value="0"
                  aria-describedby="basic-addon3">
              </div>
            <% } %>
          </div>

          <input type="submit" name="" value="Create Test" class="form-control btn btn-primary" id="">

        </form>
      </div>
    </div>
  </div> 
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTest" aria-expanded="false" aria-controls="collapseTwo">
        Tests
      </button>
    </h2>
    <div id="collapseTest" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p class="lead">There is nothing here.</p>
      </div>
    </div>
  </div>


</div>



</div>

<%- include("../partials/footer") %> 
